.navbar {
    // background-color:  $primary-color !important;
    background: rgb(38,178,184);
    background: linear-gradient(0deg, rgba(38,178,184,1) 0%, rgba(64,93,255,1) 100%);
}

.logo {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 35px;
}