<div class="container mt-5">
    <div class="row ">
        <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-inline-block justify-content-start text-center landing-gif">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 d-md-inline-block d-sm-inline-block d-lg-inline-flex landing-page">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 d-flex flex-column align-items-center justify-content-center ">
                <div class="row align-items-center justify-content-center">
                    <h1 class="title text-sm-center text-xs-center text-md-center text-lg-start">Shuttle Swaggers
                    </h1>
                </div>
                <div class="row align-items-center justify-content-center">
                    <h2 class="title-desc text-center">Modern Home of Badminton!</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 d-flex align-items-center justify-content-center bg-transparent">
                <div class="card text-center bg-transparent">
                    <ul class="list-group list-group-flush ">
                      <li class="list-group-item">Administer Sessions</li>
                      <li class="list-group-item">Engage in Games within Knockout, League, and Club Modes</li>
                      <li class="list-group-item">Access Player Statistics</li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>

    //Administer SessioNS
    Engage in Games within Knockout, League, and Club Modes
    Access Player Statistics