.landing-page {
    background-image: url("../../assets/Images/hm-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    color: orange;
}

.landing-gif {
    background-image: url("../../assets/images/Elevate.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;    
}