<div class="container mt-5">
    <div class="row">
        <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-6 d-sm-inline-block d-sm-inline-block d-lg-inline-flex landing-page">
            <div
                class="col-xs-12 col-sm-12 col-md-12 col-lg-6 d-flex flex-column align-items-center justify-content-center  mt-md-5 mt-sm-5 mt-xs-5">
                <div
                    class="row align-items-center justify-content-center align-items-xs-center align-items-sm-center align-items-md-center">
                    <h1 class="title text-sm-center text-xs-center text-md-center text-lg-start rounded">Shuttle
                        Swaggers
                    </h1>
                </div>
                <div class="row align-items-center justify-content-center rounded">
                    <h2 class="title-desc text-center">Modern Home of Badminton!</h2>
                </div>
            </div>
            <div
                class="mt-5 col-xs-12 col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center bg-transparent align-items-xs-center align-items-sm-center align-items-md-center">
                <div class="card text-center bg-transparent text-white" >
                    <div class="card-body">
                      <!-- <h5 class="card-title">Special title treatment</h5> -->
                      <p class="card-text">Administer Sessions</p>
                      <p class="card-text">Engage in Games within Knockout, League, and Club Modes</p>
                      <p class="card-text">Access Player Statistics</p>
                      <a routerLink="signup" class="btn btn-warning">Try now for Free!</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>